body {
    margin: 0;
    padding-right: 25%;
    padding-left: 25%;
    background-image: url(https://i.pinimg.com/originals/0d/9b/24/0d9b24189f42fb3f2563ef854b41ab0f.png);
    background-size: auto;
  }

  h1 {
    font-family: 'Alegreya Sans', sans-serif;
    color: black;
    font-size: 300%;
    display: flex;
    justify-content: center;
  }

  h2{
    color: black;
    font-family: 'Alegreya Sans', sans-serif;
    font-size:  200%;
    font-weight: 200;
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    list-style: none;
}

.cta{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.navigationbar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  list-style: none;
  background-color: black;
  opacity: 50%;
}

.navlink{
  color: white;
  font-size: 150%;
  font-weight: bold;
  text-decoration: none;
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.picture{
  width: 175px;
  height: 225px;
  margin: 10px;
}

.sideheader{
  color: black;
  font-family: 'Alegreya Sans', sans-serif;
  font-size:  200%;
  font-weight: 200;
  display: flex;
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
  p {
    color: black;
    font-size: 160%;
    font-family: 'Alegreya Sans', sans-serif;
  }
head{
    color:black;
    font-family: 'Alegreya Sans', sans-serif;
    font-size:  200%;
    font-weight: 200;
    display: flex;
    justify-content: center;
}


#border{
  border-radius: 25px;
  background:black;
  border: 2px black;
  opacity: 50%;
  padding: 20px;
  width: 500px;
  height: 100px;
  color: white;
}


.center{
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 640px) {
  body{
    padding-right: 5%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;

  }
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .picture{
    margin: 25px;
  }


}